@import '../abstracts/_variables.scss';

// .border {
//     border: 1px solid
// }

@each $name, $color in $colors {
    .border_#{$name} {
        border-color: $color
    }
}

@for $i from 0 through 8 {
    $value: $i + px;

    @each $name, $prop in $borders {
        .border_#{$name}_#{$i} {
            border-#{$prop}-width: $value
        }
    }

    .border_#{$i} {
        border-width: $value
    }
}

.border_solid {
    border-style: solid
}
.border_dashed {
    border-style: dashed
}
.border_dotted {
    border-style: dotted
}
.border_double {
    border-style: double
}
.border_none {
    border-style: none
}