@use "sass:map";
@use '../abstracts/_mixins/media_query' as mq;

.container {
    max-width: 640px;

    @include mq.md {
        max-width: 700px
    }

    @include mq.lg {
        max-width: 947px
    }

    @include mq.xl {
        max-width: 1183px
    }

    @include mq.xxl {
        max-width: 1420px
    }
}