.cursor_auto {
    cursor: auto
}
.cursor_default {
    cursor: default
}
.cursor_pointer {
    cursor: pointer
}
.cursor_wait {
    cursor: wait
}
.cursor_text {
    cursor: text
}
.cursor_move {
    cursor: move
}
.cursor_help {
    cursor: help
}
.cursor_not_allowed {
    cursor: not-allowed
}