@use '../abstracts/variables' as vars;
@use '../abstracts/_functions/space';

.absolute {
    position: absolute
}
.fixed {
    position: fixed;
}
.relative {
    position: relative
}

.inline_block {
    display: inline-block
}
.inline {
    display: inline
}
.block {
    display: block
}
.grid {
    display: grid
}
.hidden {
    display: none
}
.table {
    display: table
}

.flex {
    display: flex
}
.flex_col {
    flex-direction: column
}
.flex_row {
    flex-direction: row
}

.justify_start {
    justify-content: flex-start
}
.justify_end {
    justify-content: flex-end;
}
.justify_center {
    justify-content: center !important
}
.justify_between {
    justify-content: space-between
}
.justify_around {
    justify-content: space-around
}
.justify_evenly {
    justify-content: space-evenly
}

.items_start {
    align-items: flex-start;
}
.items_end {
    align-items: flex-end;
}
.items_center {
    align-items: center;
}
.item_baseline {
    align-items: baseline;
}
.item_stretch {
    align-items: stretch;
}

@for $i from 0 through 96 {
    .gap_#{$i} {
        gap: space.calculate($i)
    }
}

@each $name, $width in vars.$break-points {
    @media (min-width: #{$width}) {
        .#{$name}_absolute {
            position: absolute
        }
        .#{$name}_fixed {
            position: fixed;
        }
        .#{$name}_relative {
            position: relative
        }
        
        .#{$name}_inline_block {
            display: inline-block
        }
        .#{$name}_inline {
            display: inline
        }
        .#{$name}_block {
            display: block !important
        }
        .#{$name}_grid {
            display: grid
        }
        .#{$name}_hidden {
            display: none
        }
        
        .#{$name}_flex {
            display: flex
        }
        .#{$name}_flex_col {
            flex-direction: column
        }
        .#{$name}_flex_row {
            flex-direction: row
        }
        
        .#{$name}_justify_start {
            justify-content: flex-start
        }
        .#{$name}_justify_end {
            justify-content: flex-end
        }
        .#{$name}_justify_center {
            justify-content: center
        }
        .#{$name}_justify_between {
            justify-content: space-between
        }
        .#{$name}_justify_around {
            justify-content: space-around
        }
        .#{$name}_justify_evenly {
            justify-content: space-evenly
        }

        @for $i from 0 through 96 {
            .#{$name}_gap_#{$i} {
                gap: space.calculate($i) !important
            }
        }
    }
}