@import '../abstracts/_variables.scss';

@each $name, $value in $font_sizes {
    .text_#{$name} {
        font-size: $value;
        line-height: map-get($line_heights, $name)
    }
}

@function is-important($important){
    @return #{if($important, '!important', '')};
  }

@mixin textxl($index, $important: false) {
    line-height: ($index * 0.888888889) + rem is-important($important);
    font-size: ($index * 0.888888889) + rem is-important($important)
}

@each $name, $width in $break-points {
    @media (min-width: #{$width}) {
        @each $fname, $value in $font_sizes {
            .#{$name}_text_#{$fname} {
                font-size: $value;
                line-height: map-get($line_heights, $fname)
            }
        }

        .#{$name}_text_right {
            text-align: right
        }
        .#{$name}_text_left {
            text-align: left
        }
        .#{$name}_text_justify {
            text-align: justify
        }
        .#{$name}_text_center {
            text-align: center
        }
    }
}

@each $name, $color in $colors {
    .text_#{$name} {
        color: #{$color}
    }
}

.text_gradient {
    background: -webkit-linear-gradient(right, #efff19 50%, #00ffb5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_right {
    text-align: right
}
.text_left {
    text-align: left
}
.text_justify {
    text-align: justify
}
.text_center {
    text-align: center
}

.font_bold {
    font-weight: bold
}

.underline {
    text-decoration: underline
}
.uppercase {
    text-transform: uppercase
}

@each $name, $color in $colors {
    .text_outline_#{$name} {
        -webkit-text-stroke: 2px #{$color};
        color: transparent;
        user-select: none;
    }
}

.text_outline_gradient {
    color: map-get($colors, 'black');
    background: -webkit-linear-gradient(right, rgba(239, 255, 25, 1), rgba(0, 255, 181, 1));
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    user-select: none;
}

.text_impactful {
    line-height: 1.5 !important;

    &--lg {
        @extend .text_xl, .md_text_2xl;

        text-transform: uppercase;
        font-weight: bold;
        color: map-get($colors, 'gray');

        span, b {
            @extend .text_xl, .md_text_4xl
        }
    }

    span, b {
        @extend .text_lg, .md_text_xl;
        text-transform: uppercase;
        font-weight: bold;
        word-wrap: break-word;
        line-height: 1.25 !important
    }
}