@use 'style-box/abstracts/functions/utilities';
@use 'style-box/abstracts/mixins/breakpoints';
@use 'style-box/abstracts/mixins/text';

.title {
    @include text.text(4xl);

    color: utilities.color('black');
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    line-height: 1.25;
    background: -webkit-linear-gradient(right, rgba(239, 255, 25, 1), rgba(0, 255, 181, 1));
    background-clip: text;
    -webkit-text-stroke: 3px transparent;

    @include breakpoints.md {
        @include text.text(6xl, true)
    }

    @include breakpoints.lg {
        font-size: 6rem;
    }
}