@use "sass:math";
@import '../abstracts/_variables.scss';

.w_auto {
    width: auto
}
.w_screen {
    width: 100vw
}
.w_full {
    width: 100%
}
.w_1\/2 {
    width: 50%
}

@for $i from 1 through 2 {
    .w_#{$i}\/3 {
        width: math.div($i * 100, 3) + #{'%'}
    }
}

@for $i from 1 through 3 {
    .w_#{$i}\/4 {
        width: math.div($i * 100, 4) + #{'%'}
    }
}

@for $i from 1 through 4 {
    .w_#{$i}\/5 {
        width: math.div($i * 100, 5) + #{'%'}
    }
}

@for $i from 1 through 5 {
    .w_#{$i}\/6 {
        width: math.div($i * 100, 6) + #{'%'}
    }
}

@for $i from 1 through 11 {
    .w_#{$i}\/12 {
        width: math.div($i * 100, 12) + #{'%'}
    }
}

@for $i from 0 through 96 {
    $value: ($i * .25) + rem;

    .w_#{$i} {
        width: $value
    }
}

@each $name, $width in $break-points {
    @media (min-width: #{$width}) {
        .#{$name}_w_auto {
            width: auto
        }
        .#{$name}_w_full {
            width: 100%
        }
        .#{$name}_w_screen {
            width: 100vw
        }

        @for $i from 0 through 96 {
            $value: ($i * .25) + rem;
        
            .#{$name}_w_#{$i} {
                width: $value
            }
        }

        .#{$name}_w_1\/2 {
            width: 50%
        }
        
        @for $i from 1 through 2 {
            .#{$name}_w_#{$i}\/3 {
                width: math.div($i * 100, 3) + #{'%'}
            }
        }
        
        @for $i from 1 through 3 {
            .#{$name}_w_#{$i}\/4 {
                width: math.div($i * 100, 4) + #{'%'}
            }
        }
        
        @for $i from 1 through 4 {
            .#{$name}_w_#{$i}\/5 {
                width: math.div($i * 100, 5) + #{'%'}
            }
        }
        
        @for $i from 1 through 5 {
            .#{$name}_w_#{$i}\/6 {
                width: math.div($i * 100, 6) + #{'%'}
            }
        }
        
        @for $i from 1 through 11 {
            .#{$name}_w_#{$i}\/12 {
                width: math.div($i * 100, 12) + #{'%'}
            }
        }
    }
}