@forward 'style-box/abstracts/variables' with (
    $colors: (
        'black': #000e14,
        'light_black': #191A1F,
        'white': #E5E5E5,
        'gray': rgba(229, 229, 229, 0.7),
        success: #00ffb5,
        'danger': #FF3900,
        warning: #ec980a,
        'transparent': transparent
    )
);

$break-points: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1536px
);

$font_sizes: (
    sm: 0.875rem,
    base: 1rem,
    lg: 1.125rem,
    xl: 1.25rem,
    2xl: 1.5rem,
    3xl: 1.875rem,
    4xl: 2.25rem,
    5xl: 3rem,
    6xl: 3.75rem,
    7xl: 4.5rem,
    8xl: 6rem,
    9xl: 8rem
);

$line_heights: (
    sm: 1.25rem,
    base: 1.5rem,
    lg: 1.75rem,
    xl: 1.75rem,
    2xl: 2rem,
    3xl: 2.25rem,
    4xl: 2.5rem,
    5xl: 1,
    6xl: 1,
    7xl: 1,
    8xl: 1,
    9xl: 1
);

$borders: (
    t: top,
    r: right,
    b: bottom,
    l: left
);