@use 'style-box/abstracts/mixins/margin' as margin_mixin;
@use 'style-box/abstracts/functions/utilities';
@use 'style-box/abstracts/mixins/text';

button {
    font-size: 100%;
    padding: 0;
    border: 0;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer
}

.btn {
    @include margin_mixin.in(4, x);
    @include margin_mixin.in(2, y);
    outline: none;

    &--gradient {
        background: linear-gradient(265.27deg, #EFFF19 29.55%, #00FFB5 71.37%);
    }

    &--lg {
        @include margin_mixin.in(3, x);
        @include margin_mixin.in(1, y);
        @include text.text(lg)
    }

    &--outline {
        border: 1px solid utilities.color('white');
        border-radius: .5rem;
        transition-property: background-color, opacity, color;

        &:hover {
            color: utilities.color('black');
            background-color: utilities.color('white')
        }
    }
}