@use '../abstracts/_mixins/margins' as margin_mixin;
@use '../abstracts/_mixins/text';

button {
    font-size: 100%;
    padding: 0;
    border: 0;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer
}

.btn {
    @include margin_mixin.in(4, x);
    @include margin_mixin.in(2, y);
    outline: none;

    &--gradient {
        background: linear-gradient(265.27deg, #EFFF19 29.55%, #00FFB5 71.37%);
    }

    &--lg {
        @include margin_mixin.in(3, x);
        @include margin_mixin.in(1, y);
        @include text.text(lg)
    }
}