@import '../abstracts/_variables.scss';
@import '../base/_margins.scss';

label {
    display: inline-block
}

input, textarea, select {
    border: 1px solid map-get($colors, 'white');
    color: map-get($colors, 'white');
    font-size: 100%;
    background-color: transparent;
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 0.375rem;
}

input, textarea {
    @extend .py_2, .px_3;

    transition: border 200ms ease-out;

    &:focus {
        outline: none
    }
}

select {
    @extend .pr_10, .py_2, .pl_4;

    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23E5E5E5' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    outline: none;
    appearance: none;

    option, option:hover {
        background-color: map-get($colors, 'black');
        color: map-get($colors, 'white');
    }
}

.fv_error {
    color: map-get($colors, warning);
    line-height: 1;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-property: opacity, font-size;
    font-size: 0;
    opacity: 0;

    &.active {
        @extend .mt_1;

        font-size: inherit;
        opacity: 100;
        line-height: 1.25rem;
    }
}

label.checkbox {
    @extend .px_6, .py_2;
    color: map-get($colors, 'black');
    position: relative;
    cursor: pointer;
    text-align: center;
    outline: none;
    border-radius: 0.5rem;

    &--disabled {
        cursor: not-allowed;
    }

    input[type=checkbox], input[type=radio] {
        position: absolute;
        border-style: none;
        width: 100%;
        left: 0;
        top: 0;
        appearance: none;
        height: 100%;
        background-color: #C4C4C4 !important;
        z-index: -1;

        &:checked {
            background-color: map-get($colors, success) !important;
        }
    }
}