@import '../abstracts/_variables.scss';

.carousel {
    overflow: hidden;

    &::after {
        content: '';
        clear: both;
        display: table
    }

    &__pagination {
        display: flex;
        justify-content: center;

        &__item + &__item {
            margin-left: var(--spacing);
        }

        &__item {
            --spacing: .5rem;
            border: 1px solid map-get($colors, 'white');
            border-radius: 50%;
            height: 15px;
            width: 15px;
    
            &--current {
                border-color: transparent;
                background: linear-gradient(180deg, #EFFF19 0%, #01FFB5 100%);
            }

            &--hidden {
                display: none
            }
        }
    }

    &__wrapper {
        position: relative;
        display: grid;
        transition-duration: 300ms;
        transition-property: transform;
    }
}