@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/swiper/components/pagination/pagination.scss";
@import '../abstracts/_variables.scss';

.swiper-wrapper {
    margin-bottom: calc(1rem + 24px);
}

.swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
        border: 1px solid map-get($colors, 'white');
        background-color: transparent;
        opacity: 100;
        height: 15px !important;
        width: 15px !important;
    
        &.swiper-pagination-bullet-active {
            border-color: transparent;
            background: linear-gradient(180deg, #EFFF19 0%, #01FFB5 100%);
        }
    }
}