@use "sass:map";
@use '../variables' as vars;

@mixin text($name, $important: false) {
    color: map.get(vars.$colors, $name) #{if($important == true, '!important', '')}
}

@mixin bgc($name, $important: false) {
    background-color: map.get(vars.$colors, $name) #{if($important == true, '!important', '')}
}

@mixin bg($name, $important: false) {
    background: map.get(vars.$colors, $name) #{if($important == true, '!important', '')}
}
