@mixin cols($nb) {
    grid-template-columns: repeat($nb, minmax(0, 1fr));
}

@mixin rows($nb) {
    grid-template-rows: repeat($nb, minmax(0, 1fr));
}

@mixin span($index) {
    grid-column: span $index / span $index;
}