<footer>
    <address class="md_order_1 font_bold text_center order_2">
        TEL : <a href="tel:+33650308591">06•50•30•85•91</a>
    </address>

    <a
        o-follow
        o-preload-once
        href="/"
        class="order_1 md_order_2 xl_order_3"
    >
        <img src="/img/logo.svg" width="400" height="120" alt="GreenAssembly Logo" />
    </a>

    <div class="text_center order_4">
        <div class="uppercase pb_2 font_bold">Suivez-nous</div>

        <a href="https://www.linkedin.com/company/greenassembly/" target="_blank" class="social" rel="noopener">
            <svg class="icon icon--lg" height="32">
                <use xlink:href="/icons/socials.svg#linkedin"></use>
            </svg>
        </a>
        <a href="https://www.instagram.com/greenassembly.fr/" target="_blank" class="social ml_1" rel="noopener">
            <svg class="icon icon--lg" height="32">
                <use xlink:href="/icons/socials.svg#instagram"></use>
            </svg>
        </a>
    </div>

    <div class="order_5 text_center md_col_span_3 space_x_4">
        <a
            o-follow
            o-preload-once
            href="/faq"
            class="uppercase font_bold"
        >
            FAQ
        </a>
        <a
            o-follow
            o-preload-once
            href="/mentions-legales"
            class="uppercase font_bold"
        >
            Mentions légales
        </a>
    </div>
</footer>