<nav id="navbar">
    <div></div>

    <a
        o-follow
        o-preload-once
        href="/"
        id="logo"
    >
        <img
            src="/img/logo.svg"
            width="180"
            height="80"
            alt="GreenAssembly Logo"
        />
    </a>

    <a href="#menu-opened" id="open-mobile-menu">
        <svg class="icon icon--lg" height="32px">
            <use xlink:href="/icons/icons.svg#burger"></use>
        </svg>
    </a>

    <div id="menu">
        <a
            o-follow
            o-preload-once
            href="/"
            class="order_1 mt_0 active"
        >
            Accueil
        </a>
        <div class="menu-category order_2">
            <a
                o-follow
                o-preload-once
                href="/creation-site-web"
            >
                Création de Site Web
            </a>
            <div class="menu-category__submenu">
                <a
                    o-follow
                    o-preload-once
                    href="/creation-site-web/onepage"
                >
                    Onepage
                </a>
                <a
                    o-follow
                    o-preload-once
                    href="/creation-site-web/vitrine"
                >
                    Site vitrine
                </a>
                <a
                    o-follow
                    o-preload-once
                    href="/creation-site-web/e-commerce"
                >
                    Site e-commerce
                </a>
            </div>
        </div>
        <a
            o-follow
            o-preload-once
            href="/agence-digitale-verte"
            class="order_3"
        >
            Agence
        </a>
        <a
            o-follow
            o-preload-once
            href="/portfolio"
            class="order_4"
        >
            Portfolio
        </a>
        <a
            o-follow
            o-preload-once
            href="/blog"
            class="order_5"
        >
            Blog
        </a>
        <a
            o-follow
            o-preload-once
            href="/contact"
            class="order_6"
        >
            Contact
        </a>

        <div id="socials" class="order_7">
            <a
                href="https://www.linkedin.com/company/greenassembly/"
                target="_blank"
                class="social"
                rel="noopener"
            >
                <svg class="icon icon--lg" height="32">
                    <use xlink:href="/icons/socials.svg#linkedin"></use>
                </svg>
            </a>
            <a
                href="https://www.instagram.com/greenassembly.fr/"
                target="_blank"
                class="social"
                rel="noopener"
            >
                <svg class="icon icon--lg" height="32">
                    <use xlink:href="/icons/socials.svg#instagram"></use>
                </svg>
            </a>
        </div>

        <button id="close-mobile-menu" type="button">
            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <path fill="#fff" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path>
            </svg>
        </button>
    </div>
</nav>