@use "sass:map";
@use '../abstracts/variables' as vars;
@use 'style-box/abstracts/mixins/breakpoints';
@use '../abstracts/_mixins/text';
@use 'style-box/abstracts/functions/utilities';

@import 'style-box/base/animations';

.webp_support header#banner {
    background-image: var(--sm_webp_bg_img);
}

header#banner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    --sm_bg_img: url(/img/bg/home_mobile.webp);
    background-size: cover;
    background-image: var(--sm_bg_img);

    h1 {
        @include text.text(5xl);

        @include breakpoints.md {
            @include text.text(7xl)
        }

        @include breakpoints.lg {
            @include text.text(8xl)
        }

        @include breakpoints.xxl {
            @include text.text(9xl)
        }

        text-align: center;
        font-weight: bold;
        text-transform: uppercase
    }

    #scroll_down {
        @extend .animation_bounce;

        position: absolute;
        bottom: utilities.space(2)
    }
}

@media (min-width: map.get(vars.$break-points, sm)) {
    .webp_support header#banner {
        background-image: var(--webp_bg_img);
    }

    header#banner {
        --bg_img: url(/img/bg/home.webp);
        background-image: var(--bg_img);
    }
}