@use '../abstracts/variables' as vars;
@use 'style-box/abstracts/mixins/margin' as margin_mixin;

@use 'style-box/abstracts/mixins/grid';
@use 'style-box/abstracts/mixins/breakpoints';
@use 'style-box/abstracts/functions/utilities';

@import 'style-box/base/container';
@import 'style-box/base/_width.scss';

footer {
    @include margin_mixin.in(10, top);
    @include margin_mixin.in(8, bottom);
    @include grid.cols(1);

    background-color: #fff;
    color: utilities.color('black');
    gap: utilities.space(8);
    display: grid;
    margin: 0 auto;
    @include margin_mixin.out(10, top);
    align-items: center;

    @include breakpoints.sm {
        @include margin_mixin.in(12, y);
        @include margin_mixin.out(12, top);
    }

    @include breakpoints.md {
        @include margin_mixin.in(10, y);
        @include grid.rows(2);
        @include grid.cols(3);
        @include margin_mixin.out(10, top);
        row-gap: 0;
    }
    
    @include breakpoints.lg {
        img {
            width: 80%
        }
    }

    img {
        @extend .md_w_full, .w_7\/12;

        margin: 0 auto;
        display: block
    }

    a {
        text-decoration: none;
    }
}