@use "sass:map";
@use '../abstracts/variables' as vars;
@use 'style-box/abstracts/mixins/margin' as margin_mixin;
@use 'style-box/abstracts/functions/utilities';
@use '../abstracts/_mixins/text';

#navbar {
    position: fixed;
    z-index: 20;
    transition: background-color .250s linear;
    background-color: utilities.color('black');
    top: 0;
    left: 0;

    a {
        @include text.text(xl, true);

        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;

        &::after {
            border-right: 1px solid utilities.color('white');
            position: absolute;
            right: 0;
            width: 80%;
            content: '';
        }

        &.active {
            color: utilities.color('success');
            font-weight: bold !important
        }
    }

    #menu {
        display: none;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        opacity: 0;
        flex: 1 1 0%;
        transition: opacity .250s ease-in-out;

        > * {
            @include margin_mixin.out(12, top);

            &:first-child {
                margin-top: 0
            }
        }

        > img {
            display: none;
        }
    }

    #socials {
        display: flex;
        flex-direction: row;
        order: 6;

        a + a {
            @include margin_mixin.in(4, left);
        }
    }

    #open-mobile-menu {
        position: fixed;
        left: 1.5rem;
        top: 1.5rem;
    }

    #close-mobile-menu {
        @include margin_mixin.in(3);

        line-height: 1;
        display: none;
        order: 7;
        font-size: 0;

        svg {
            width: 25px;
            height: 25px;
        }
    }

    &.show {
        @include margin_mixin.in(3);
        @include margin_mixin.in(14, bottom);

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-y: scroll;

        #close-mobile-menu {
            border: 1px solid utilities.color('white');
            display: block;
            border-radius: 50%;
        }

        #open-mobile-menu {
            display: none
        }

        #menu {
            display: flex;
            opacity: 100
        }
    }

    .menu-category {
        display: inline-block;

        text-align: center;
    }
    .menu-category__submenu {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        text-align: left;

        padding: 1rem 0 1rem 1.5rem;
        border-left: 1px solid rgba(255,255,255,0.5);
    }

    @media (min-height: 700px) and (orientation: landscape) {
        top: 0;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        transition: none;
        box-shadow: 1px 1px 4px 1px rgba(0, 255, 181, 0.3);

        #open-mobile-menu {
            display: none;
        }
    
        #menu {
            position: relative;
            display: flex;
            flex-direction: row;
            opacity: 100;
            gap: 1.5rem;
            width: auto;
            visibility: visible;
            transition: none;
            justify-content: flex-start;
            padding: 0 1.5rem;

            > * {
                margin-top: 0 !important;
            }

            > img {
                display: block;
                position: relative;
                width: auto;
                height: 50px;
                top: -5px;
                margin-right: 1rem;
            }
        }
    
        #socials {
            margin-left: auto;
            gap: 1rem;

            > * {
                margin-right: 0;
                margin-left: 0;
            }
    
            a {
                font-size: 0 !important;
                line-height: 1 !important;
                margin: 0;
                padding-top: .875rem;
                padding-bottom: .875rem;
                padding-left: 0 !important;
            }
        }
    
        a {
            font-size: 1rem !important;
            display: block;
            overflow: hidden;
            font-weight: 400 !important;
    
            &.social {
                text-align: center;
            }

            &:hover {
                color: utilities.color('success');
            }
        }

        .menu-category {
            display: inline-block;
            position: relative;

            text-align: center;

            &:hover {
                .menu-category__submenu {
                    display: flex;
                    position: absolute;
                    min-width: 200px;
                    top: 100%;
                    left: -1rem;

                    border: none;
                    padding: 1.75rem 1rem 1rem 1rem;

                    border-radius: 0 0 0.5rem 0.5rem;
                    background-color: utilities.color('black');
                }
            }
        }
        .menu-category__submenu {
            display: none;
        }
    }
}