@use 'style-box/abstracts/mixins/breakpoints';
@use 'style-box/abstracts/mixins/margin' as margin_mixin;

@use '../abstracts/variables' as vars;

@import 'style-box/base/space';
@import '../base/_typography.scss';
@import 'style-box/base/display';

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    a {
        @include margin_mixin.out(4, top);
        text-decoration: none;

        span {
            @include margin_mixin.out(1, left);
            text-decoration: underline
        }

        img {
            vertical-align: middle;
        }
    }

    h1 {
        @extend .title;
        margin: 0 auto !important;
        word-break: break-word;

        @include breakpoints.sm {
            width: 80%
        }
    }
}