@import '../base/_text.scss';
@import '../base/_margins.scss';
@import '../base/_typography.scss';
@import '../base/_width.scss';
@import '../base/_borders.scss';
@import '../layout/_banner.scss';

#approach {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
        text-align: right
    }
}

h2 {
    @extend .title;
}

#approach, #story {
    h2 {
        @extend .pb_14, .sm_pb_20;
    }

    p {
        @extend .sm_w_7\/12, .lg_w_6\/12;
    }
}

#team {
    .title {
        @extend .pb_14;
        @extend .sm_pb_20;

        text-align: right
    }

    .swiper-slide {
        img {
            display: block;
            margin: 0 auto
        }

        figure {
            margin: 0;;

            .about {
                @extend .text_lg, .pb_7;

                font-weight: bold;
                text-align: center;
                color: rgba(229, 229, 229, 0.6);
        
                figcaption {
                    @extend .border_solid, .border_0, .border_b_1, .border_white, .text_xl, .text_white, .pt_7, .pb_3, .mb_3;  
                    
                    text-transform: uppercase;
                }
            }
        
            blockquote {
                margin: 0;
                position: relative;
                padding: 20px calc(26px + .5rem) 0;
            
                &::before, &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    background-image: url(/static/img/quote.svg);
                    background-size: 26px 20px;
                    height: 20px;
                    width: 26px;
                }
            
                &::before {
                    left: 0;
                    top: 0
                }
            
                &::after {
                    bottom: 0;
                    right: 0;
                    transform: rotate(180deg);
                }
            }
        }
    }
}