@import '../base/_text.scss';
@import '../base/_margins.scss';
@import '../base/_typography.scss';
@import '../base/_width.scss';
@import '../base/_space.scss';
@import '../base/_grid.scss';
@import '../base/_display.scss';
@import '../base/_borders.scss';
@import '../layout/_banner.scss';

#approach, #story {
    .content {
        @extend .grid, .grid_cols_1, .md_grid_cols_2, .gap_10, .lg_gap_18, .items_center;
    }
}

h2 {
    @extend .title, .pb_14, .sm_pb_20;
    text-align: center
}

#team {
    .swiper-slide {
        img {
            display: block;
            margin: 0 auto
        }

        figure {
            margin: 0;;

            .about {
                @extend .text_lg, .pb_7;

                font-weight: bold;
                text-align: center;
                color: rgba(229, 229, 229, 0.6);
        
                figcaption {
                    @extend .text_xl, .pt_7, .pb_3, .mb_3;

                    border-bottom: 1px solid map-get($colors, 'white');
                    color: map-get($colors, 'white');
                    text-transform: uppercase;
                }
            }
        
            blockquote {
                margin: 0;
                position: relative;
                padding: 20px calc(26px + .5rem) 0;
            
                &::before, &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    background-image: url(/icons/quote.svg);
                    background-size: 26px 20px;
                    height: 20px;
                    width: 26px;
                }
            
                &::before {
                    left: 0;
                    top: 0
                }
            
                &::after {
                    bottom: 0;
                    right: 0;
                    transform: rotate(180deg);
                }
            }
        }
    }
}