@use "sass:map";
@use '../abstracts/variables' as vars;
@use 'style-box/abstracts/mixins/breakpoints';
@use 'style-box/abstracts/functions/utilities';

@use 'style-box/abstracts/mixins/margin' as margin_mixin;
@import 'carousel/src/index.scss';
@import 'style-box/base/float';
@import 'style-box/base/display';
@import 'style-box/base/borders';
@import 'style-box/base/opacity';
@import 'style-box/base/width';
@import 'style-box/base/text';

@import '../components/_icon.scss';
@import '../components/_input.scss';
@import '../components/_button.scss';
@import '../components/_stepper.scss';
@import '../layout/_banner.scss';

section {
    @include margin_mixin.out(12, top);

    @include breakpoints.md {
        @include margin_mixin.out(8, top);
    }
}

.carousel__pagination__item--current {
    &::before {
        background-color: utilities.color('white');
        border-radius: 50%;
        content: '';
        width: 10px;
        height: 10px;
    }
}

.next_btn, .send_btn {
    color: utilities.color('white');
    transition-duration: 250ms;
    transition-timing-function: linear;
    opacity: 0
}

.next_btn {
    transition-property: opacity;

    svg {
        @include margin_mixin.out(2, left);

        vertical-align: middle;
    }
}

.send_btn {
    border: 1px solid utilities.color('white');
    border-radius: .5rem;
    transition-property: background-color, opacity, color;

    &:hover {
        color: utilities.color('black');
        background-color: utilities.color('white')
    }
}

#services {
    display: flex;
    gap: utilities.space(4);
    flex-wrap: wrap;
    justify-content: space-around
}

#success {
    padding-top: utilities.space(16);
    text-align: center;
    display: none;

    h2 {
        @include margin_mixin.out(4, bottom)
    }
}

@media (min-width: map.get(vars.$break-points, sm)) {
    form .container {
        max-width: 65%;
        margin: 0 auto;
    }

    #success {
        @include margin_mixin.in(32, top)
    }
}

textarea {
    min-height: 80px
}