@import '../../../node_modules/carousel/src/index.scss';
@import '../base/_display.scss';
@import '../base/_float.scss';
@import '../base/_width.scss';
@import '../base/_text.scss';
@import '../base/_opacity.scss';
@import '../base/_borders.scss';
@import '../components/_icon.scss';
@import '../components/_input.scss';
@import '../components/_button.scss';
@import '../components/_stepper.scss';
@import '../layout/_banner.scss';

@media (min-width: map-get($break-points, sm)) {
    form .container {
        max-width: 65%;
        margin: 0 auto;
    }
}


.carousel__pagination__item--current {
    &::before {
        background-color: map-get($colors, 'white');
        border-radius: 50%;
        content: '';
        width: 10px;
        height: 10px;
    }
}

.next_btn, .send_btn {
    transition-duration: 250ms;
    transition-timing-function: linear;
    opacity: 0;
    color: map-get($colors, 'white');
}

.next_btn {
    transition-property: opacity;

    svg {
        @extend .ml_2;
        vertical-align: middle;
    }
}

.send_btn {
    border: 1px solid map-get($colors, 'white');
    border-radius: .5rem;
    transition-property: background-color, opacity, color;

    &:hover {
        color: map-get($colors, 'black');
        background-color: map-get($colors, 'white');
    }
}

#services {
    flex-wrap: wrap;
}