@use 'style-box/abstracts/mixins/breakpoints';
@use 'style-box/abstracts/mixins/text';
@use 'style-box/abstracts/functions/utilities';
@import '../layout/_banner.scss';
@import '../base/typography';
@import 'style-box/base/_text.scss';

header#banner {
    height: auto;
    flex-direction: column;
    margin-bottom: 2rem;

    h1 {
        margin: 2rem 0;
    }
    h2 {
        @extend .title;
    }

    @include breakpoints.xl {
        margin-top: 3rem;
        margin-bottom: 6rem;

        h1 {
            margin: 4rem 0;
        }
    }
}

#intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.2rem;

    @include breakpoints.xl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%;

        width: 90%;
        margin: auto;
    }
}

.category {
    margin-top: 3rem;

    header h3 {
        text-align: center;
        color: utilities.color('success');
        margin-bottom: utilities.space(6);

        @include breakpoints.xl {
            font-size: 2.25rem;
        }
    }

    article {
        padding-bottom: utilities.space(4);

        + article {
            padding-top: utilities.space(4);
            border-top: 1px solid #efefef;

            header {
                padding-top: utilities.space(2);
            }
        }

        header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            font-weight: 600;
            padding-bottom: utilities.space(2);

            h4 {
                margin: 0;
                @include text.text(lg);
            }

            &[aria-expanded='true'] {
                + .answer {
                    margin-top: utilities.space(2);
                    overflow: auto;
                    height: 100%;
                }

                &::after {
                    content: '-';
                }
            }

            &::after {
                color: utilities.color('success');
                content: '+';
                line-height: 0;
                font-size: 4rem;
                font-weight: 500;
                margin-left: utilities.space(4)
            }
        }

        .answer {
            height: 0;
            overflow: hidden;
        }
    }

    @include breakpoints.xl {
        width: 75%;
        margin: 0 auto;
        margin-top: 8rem;
    }
}