@use "sass:map";
@use '../abstracts/variables' as vars;
@use 'style-box/abstracts/mixins/margin' as margin_mixin;
@use 'style-box/abstracts/mixins/breakpoints';
@use 'style-box/abstracts/functions/utilities';
@use 'style-box/abstracts/mixins/text';

@import 'carousel/src/index.scss';
@import 'style-box/base/animations';
@import 'style-box/base/background';
@import 'style-box/base/display';
@import 'style-box/base/grid';
@import 'style-box/base/_text.scss';
@import 'style-box/base/_typography.scss';
@import '../base/_typography.scss';
@import 'style-box/base/_space.scss';

#engagements {
    .swiper-card {
        @include margin_mixin.in(4, y);
        @include margin_mixin.in(3, x);

        background-color: utilities.color('black');
        border-radius: 3rem;
        text-align: center;

        img {
            margin: 0 auto;
            display: inline-block;
            width: 55%;
        }

        &:nth-child(2n) {
            &::before {
                bottom: -60px;
                left: -50px;
                top: auto !important;
                right: auto !important;
            }
        }

        h3 {
            @include margin_mixin.out(6, y);
            @include text.text(lg);

            color: utilities.color('white');
            text-transform: uppercase;
            font-weight: bold;
            text-align: center
        }

        p {
            padding: 0 1rem
        }
    }
}

.webp_supportted header#home_banner {
    background-image: var(--sm_webp_bg_img);
}

.no_webp header#home_banner {
    background-image: var(--sm_bg_img);
}

header#home_banner {
    --sm_webp_bg_img: url(/img/bg/sm_home.webp);
    --sm_bg_img: url(/img/bg/sm_home.jpg);
    --webp_bg_img: url(/img/bg/home.webp);
    --bg_img: url(/img/bg/home.jpg);

    background-image: var(--sm_bg_img);

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    #shape {
        position: absolute;
        display: flex;
        color: utilities.color('black');
        bottom: utilities.space(4);
        width: 270px;
        height: 250px;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;

        &::before {
            @extend .animation_spin;

            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            content: '';
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(/img/bg/shape.svg);
        }

        h1, a {
            z-index: 10
        }

        a {
            @include margin_mixin.out(1, top);
            text-decoration: none;

            span {
                @include margin_mixin.out(1, right);

                text-decoration: underline;
            }

            img {
                filter: brightness(0);
                vertical-align: middle;
            }
        }
    
        h1 {
            @include margin_mixin.in(2, x);

            line-height: 1.25;
            font-weight: bold;
            text-transform: uppercase
        }
    }
}

.prestation {    
    .content {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        align-items: center;
        gap: utilities.space(4);

        @include breakpoints.lg {
            gap: utilities.space(8)
        }
    }

    h2 {
        @extend .title;
    
        text-align: center;
    }

    .preview {
        position: relative;
        @include margin_mixin.out(12, top);

        img {
            display: block;
            margin: 0 auto
        }

        video {
            width: 100%
        }
    }

    .description {
        @include margin_mixin.out(4, top);
    }
}

.video-actions {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;

    align-items: center;
    justify-content: center;
    transition: opacity 250ms linear;

    &__button {
        display: flex;
        width: 90px;
        height: 90px;
        
        align-items: center;
        justify-content: center;
        color: rgba(255,255,255,0.5);

        border: 4px solid rgba(255,255,255,0.5);
        border-radius: 50px;

        & svg {
            position: relative;
            width: 40%;
            height: auto;
        }

        &:hover {
            color: #fff;
            border: 4px solid #fff;
        }

        .motion_home_play_button {
            left: 4%;
        }

        .motion_home_pause_button {
            display: none;
        }
    }

    &--played {
        .motion_home_play_button {
            display: none;
        }
        .motion_home_pause_button {
            display: initial;
        }

        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &--ended {
        .motion_home_play_button {
            display: initial;
        }
        .motion_home_pause_button {
            display: none;
        }
    }

    &--hide {
        opacity: 0;

        &:hover {
            opacity: 0;
        }
    }
    
    &--ended.video-actions--hide {
        opacity: 1;
    }
}

@media (orientation: landscape) {
    .swiper-card > img {
        width: 35% !important
    }

    .prestation .preview img {
        max-width: 60%
    }
}

@media (orientation: portrait) {
    #home_banner #shape {
        bottom: 3rem !important
    }
}

@media (min-height: 660px) and (orientation: portrait) {
    #home_banner #shape {
        bottom: 6rem !important
    }
}

@media (min-width: map.get(vars.$break-points, sm)) {
    .webp_supportted header#home_banner {
        background-image: var(--webp_bg_img);
    }

    .no_webp header#home_banner {
        background-image: var(--bg_img);
    }

    // header#home_banner {
    //     --bg_img: url(/img/bg/home.jpg);
    // }

    .swiper-card > img {
        width: 35% !important
    }

    .prestation {
        .preview {
            @include margin_mixin.out(6, top);
        }

        .description p {
            max-width: 80%
        }
    }

    #home_banner {
        background-size: cover !important;
        align-items: center !important;
        background-position: 25% bottom !important;

        #shape {
            right: 1rem;
            bottom: auto !important;
        }
    }
}

@media (max-width: map.get(vars.$break-points, sm)) and (orientation: landscape) {
    .swiper-card > img {
        width: 25% !important
    }

    header#home_banner {
        display: flex;
        align-items: center;
        background-image: url(/img/bg/home.webp) !important;
        background-position: center bottom !important;
        background-size: cover !important;

        #shape {
            right: 1rem;
            bottom: auto
        }
    }
}

@media (min-width: map.get(vars.$break-points, md)) {
    #engagements {
        @include margin_mixin.out(12, top)
    }

    .prestation {
        h2 {
            @include margin_mixin.in(5, bottom)
        }

        .content {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .preview {
            display: flex;
            align-items: center;
            margin-top: 0;

            img {
                max-width: 80%
            }
        }

        .description {
            margin-top: 0
        }
    }

    #home_banner #shape {
        width: 370px !important;
        height: 350px !important
    }
}

@media (min-width: map.get(vars.$break-points, md)) and (orientation: landscape) {
    .swiper-card > img {
        width: 40% !important
    }
}

@media (min-width: map.get(vars.$break-points, xl)) {
    #engagements {
        margin-bottom: 0;

        .carousel__wrapper {
            padding-top: 30px;
            padding-bottom: 80px;
    
            :nth-child(even) {
                .swiper-card {
                    &::before {
                        bottom: -60px;
                            left: -50px;
                        top: auto !important;
                        right: auto !important;
                    }
                }
            }
    
            .swiper-card {
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                margin: 33px;

                img {
                    width: 50%;
                    margin-top: 1.25rem;
                }
    
                &:hover {
                    &:hover {
                        &::before {
                            top: -60px;
                            right: -50px;
                        }
                    }
        
                    &::after {
                        opacity: 100;
                    }
    
                    p {
                        opacity: 100;
                    }
                }
    
                &::before {
                    position: absolute;
                    top: -60px;
                    right: -50px;
                    width: 120px;
                    height: 120px;
                    z-index: -1;
                    background-image: url(/img/engagement_form.svg);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    content: '';
                    transition: 0.3s linear;
                }
    
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 3rem;
                    content: '';
                    box-shadow: 1px 1px 12px 4px #01FFB5;
                    transition: opacity 0.3s ease-in-out;
                }
            }
        }
    }

    #home_banner {
        background-position: left bottom !important;

        #shape {
            width: 470px !important;
            height: 450px !important;

            h1 {
                font-size: 2.25rem !important;
                line-height: 2.5rem !important;
            }
        }
    }
}