@import '../abstracts/_variables.scss';
@import '../base/_margins.scss';
@import '../base/_space.scss';
@import '../base/_text.scss';
@import '../base/_display.scss';
@import '../base/_typography.scss';
@import '../components/_card.scss';
@import '../layout/_banner.scss';

header#banner {
    align-items: end;
    padding-bottom: 5rem;
}

.stepper {
    &__nav {
        position: relative;
        margin-top: 8rem;
        margin-bottom: 1rem;

        .label {
            @extend .pb_4, .sm_hidden;
            position: absolute;
            bottom: calc(100%);
            z-index: 1;
            text-align: center;

            .index {
                @extend .text_gradient, .text_3xl, .pb_2;
                text-transform: uppercase;
                font-weight: bold;
            }

            .descr > * { display: inline}
        }

        &__item {
            position: relative;
            --spacing: 2.5rem;

            &--current .index {
                @extend .text_gradient;
                font-size: 2.5rem;
            }

            .index {
                @extend .text_lg;
                font-weight: bold;
                text-transform: uppercase;
                white-space: nowrap;
                color: map-get($colors, success);
                bottom: calc(100% + .75rem);
            }

            div {
                display: none;
            }
        }
    }
}

h1 {
    text-align: center;
    width: 100%;
}

h2 {
    @extend .title, .pb_12, .sm_pb_20;

    line-height: 1.25 !important;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    
    span {
        @extend .text_gradient
    }
}

ul {
    list-style: none;
    padding-left: 0;
    li {
        &+li {
            @extend .pt_3
        }

        &:before {
            @extend .pr_3;
            content: '✅';
        }
    }
}

#what_we_do {
    text-align: center;

    .swiper-slide {
        height: auto;
        padding: 12px
    }
}

.read_more {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
        @extend .text_xl;

        color: map-get($colors, 'white');
        display: inline-block;

        span {
            text-decoration: underline;
        }

        img {
            vertical-align: middle;
        }
    }
}

#formules {
    .swiper-wrapper {
        margin-bottom: calc(28px)
    }
    .swiper-slide {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
        h3 {
            @extend .text_gradient, .text_3xl, .sm_text_4xl, .md_text_5xl, .py_8;
    
            word-wrap: break-word;
            line-height: 1.25 !important
        }
    
        p {
            @extend .mb_6, .sm_mb_12;
        }

        .infos {
            @extend .lg_py_8, .lg_pt_36;

            order: 2;
        }

        .preview {
            order: 1;
            width: 100%;
        }
    }
}

@media (min-width: map-get($break-points, sm)) {
    .stepper__nav {
        margin-top: 3rem;
        margin-bottom: 8rem;

        &__item {
            --spacing: 7.5rem;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                position: absolute;
                flex-direction: column
            }
        
            .index, .descr {
                position: absolute;
                z-index: 1;
                
            }

            .descr {
                display: inline-block;
                text-align: center;
                top: calc(100% + 0.75rem);
                width: 140px;
        
                & > * {
                    line-height: 1.15
                }
            }
        }
    }

    #formules .swiper-slide .preview {
        width: 80%;
        margin: 0 auto
    }
}

@media (min-width: map-get($break-points, md)) {
    .stepper__nav__item {
        --spacing: 9rem;

        .descr {
            width: 160px
        }
    }
}
@media (min-width: map-get($break-points, lg)) {
    .stepper__nav__item {
        --spacing: 12rem
    }

    h1, h2 {
        width: 80%;
        margin-right: auto;
        margin-left: auto
    }

    #formules {
        .read_more {
            justify-content: flex-start !important;
        }

        .swiper-slide {
            grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
            gap: 1rem;

            h3 {
                position: absolute;
                top: 1rem;
                white-space: nowrap;
                width: 100%;
            }

            .infos {
                order: 1 !important
            }
            .preview {
                order: 2;
                height: 100%;
                width: 100%;
                margin: 0
            }
        }
    }
}
@media (min-width: map-get($break-points, xl)) {
    .stepper__nav__item {
        --spacing: 16rem
    }
}
@media (min-width: map-get($break-points, xxl)) {
    #formules .swiper-wrapper {
        margin-bottom: calc(1.5rem + 28px) !important
    }
}