@import '../abstracts/_variables.scss';
@import '../base/_margins.scss';
@import '../base/_space.scss';
@import '../base/_text.scss';
@import '../base/_display.scss';
@import '../base/_typography.scss';

.stepper {
    &__nav {
        position: relative;
        margin-top: 8rem;
        margin-bottom: 1rem;

        .label {
            @extend .pb_4;
            position: absolute;
            bottom: calc(100%);
            z-index: 1;
            text-align: center;

            .index {
                @extend .text_gradient, .text_3xl, .pb_2;
                text-transform: uppercase;
                font-weight: bold;
            }

            .descr > * { display: inline}
        }

        &__item {
            position: relative;
            --spacing: 2.5rem;

            .index, .descr {
                display: none
            }
        }
    }
}

@media (min-width: map-get($break-points, sm)) {
    #formules .swiper-wrapper {
        margin-bottom: auto !important
    }

    .stepper__nav {
        margin-top: 3rem;
        margin-bottom: 8rem;

        &__item {
            --spacing: 6rem;
        
            .index, .descr {
                position: absolute;
                z-index: 1;
                
            }

            .descr {
                text-align: center;
                bottom: calc(0px - 0.75rem);
                transform: translateY(100%);
        
                & > * {
                    line-height: 1.15
                }
            }
        }
    }
}

@media (min-width: map-get($break-points, md)) {
    .stepper__nav__item {
        --spacing: 9rem;

        .descr {
            width: 160px;
            // word-wrap: break-word;
            // hyphens: auto;
        }
    }

    .read_more {
        justify-content: flex-start;
    }

    // #formules {
    //     .swiper-wrapper {
    //         margin-bottom: calc(1rem + 24px) !important
    //     }
    // }
}
@media (min-width: map-get($break-points, lg)) {
    .stepper__nav__item {
        --spacing: 12rem
    }
}
@media (min-width: map-get($break-points, xl)) {
    .stepper__nav__item {
        --spacing: 16rem
    }
}

.stepper__nav__item {
    .index {
        @extend .text_lg;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        color: map-get($colors, success);
        top: calc(-100% - .75rem);
    }
}

h1 {
    @extend .title, .pb_14, .pt_28, .sm_pb_20, .sm_pt_40, .md_pb_32, .md_pt_64;
    text-align: center;
    width: 100%;
}

h2 {
    @extend .text_outline_white, .text_3xl, .sm_text_4xl, .mb_10, .sm_mb_20;
    line-height: 1.25 !important;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    // word-wrap: break-word;
    // hyphens: auto;
}

@media (min-width: map-get($break-points, md)) {
    h1, h2 {
        width: 80%;
        margin: 0 auto;
    }
}

ul {
    li {
        &+li {
            @extend .pt_3
        }

        &:before {
            @extend .pr_3;
            content: '✅';
        }
    }
}

#what_we_do {
    text-align: center;
    
    // .grid {
    //     grid-template-rows: repeat(2, minmax(0, 1fr));
    // }

    // .col_span_2, .col_span_3 {
    //     display: grid;
    //     justify-content: center
    // }

    .swiper-slide {
        // flex-shrink: inherit;
        height: auto;
        padding: 12px
    }
}

.card {
    box-shadow: 1px 1px 12px 4px map-get($colors, success);
    border-radius: 4rem;
    padding: 2.5rem 1.5rem;
    display: flex;
    justify-content: center;
    // max-width: 300px;
    height: 100%;
    flex-direction: column;

    h3 {
        @extend .text_2xl;

        text-transform: uppercase;
        margin-bottom: 2rem;
        line-height: 1.5;
    }
}

.read_more {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
        @extend .text_xl, .text_white;

        display: inline-block;

        span {
            text-decoration: underline;
        }

        img {
            vertical-align: middle;
        }
    }
}

.test {
    line-height: 1.5 !important;

    span {
        // word-wrap: break-word;
        // hyphens: auto;
        line-height: 1.25 !important
    }
}

#formules {
    .swiper-wrapper {
        margin-bottom: calc(1rem + 24px)
    }
    .swiper-slide {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
        h3 {
            @extend .text_gradient, .text_3xl, .sm_text_4xl, .md_text_5xl, .py_8;
    
            // word-wrap: break-word;
            // hyphens: auto;
            line-height: 1.25 !important
        }
    
        p {
            @extend .mb_6, .sm_mb_12;
        }

        .infos {
            @extend .sm_py_8, .md_pt_36;

            order: 2;
        }

        .preview {
            order: 1;
            border: 1px solid #E5E5E5;
            width: 100%;
            height: 200px;
        }
    }
}

@media (min-width: map-get($break-points, md)) {
    #formules {
        .swiper-slide {
            grid-template-columns: repeat(2, minmax(0, 1fr));

            h3 {
                position: absolute;
                top: 3rem;
                white-space: nowrap;
                width: 100%;
            }

            .infos {
                order: 1
            }
            .preview {
                order: 2;
                height: 100%
            }
        }
    }
}