@use "sass:map";
@use '../../abstracts/variables' as vars;
@use 'style-box/abstracts/mixins/margin' as margin_mixin;
@use 'style-box/abstracts/mixins/breakpoints';
@use 'style-box/abstracts/functions/utilities';
@use '../../abstracts/_mixins/text';

@import '../../base/typography';
@import 'style-box/base/text';
@import 'style-box/base/_text.scss';
@import '../../base/_typography.scss';
@import '../../layout/_banner.scss';

.read_more {
    @include margin_mixin.in(2, top);

    width: 100%;
    display: block;

    text-align: center;

    a {
        font-size: 1.2em;

        color: utilities.color('white');
        display: inline-block;

        span {
            text-decoration: underline;
        }

        img {
            vertical-align: middle;
            width: auto;
            height: 1.2rem;
            transform: scaleX(-1);
            margin-left: 0.5rem;
        }
    }
}

header#banner {
    height: auto;
    flex-direction: column;
    margin-bottom: 2rem;

    h1 {
        margin: 2rem 0;
    }
    h2 {
        @extend .title;
    }

    @include breakpoints.xl {
        margin-top: 3rem;
        margin-bottom: 6rem;

        h1 {
            margin: 4rem 0;
        }
    }
}
.banner__green-word {
    color: transparent;
}

#intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.2rem;

    @include breakpoints.xl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%;

        width: 90%;
        margin: auto;
        margin-bottom: 5rem;

        .read_more {
            grid-column: span 2;
            text-align: left;
        }
    }
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin: 2rem 0;

    @include breakpoints.sm {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        flex-wrap: wrap;
    }
}

.filters__filter {
    font-size: 1.5em!important;
    text-transform: uppercase;
    font-weight: 600;

    color: utilities.color('gray');
    cursor: pointer;

    &--active {
        color: transparent;
        @extend .title;
        line-height: 1.75em;
    }
}

.article__tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.tag {
    display: inline-block;
    height: 22px;
    color: #333;
    text-transform: uppercase;
    padding: 0rem 0.3rem;
    font-size: 0.9em;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoints.lg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include breakpoints.lg {
        &:first-child {
            grid-column: span 3;

            display: grid;
            grid-template-columns: 1fr fr;
            grid-template-rows: repeat(5, auto);
            column-gap: 2rem;

            .article__image {
                grid-column: 1;
                grid-row: span 5;

                margin: auto;
            }
            .article__title,
            .article__date,
            .article__tags,
            .article__content,
            .read_more
            {
                grid-column: 2;
            }
        }
    }
}
.article__image {
    margin-bottom: 0.5rem;
}
.article__title {
    @extend .text_success;
}
.article__date {
    font-size: 0.8em;
}
.article__content {
    padding-top: 0.5rem;
}