@use '../../abstracts/variables' as vars;
@use 'style-box/abstracts/mixins/margin' as margin_mixin;
@use 'style-box/abstracts/mixins/breakpoints' as bp;
@use 'style-box/abstracts/functions/utilities';
@use 'style-box/abstracts/mixins/text';

@import '../../base/typography';
@import 'style-box/base/text';
@import 'style-box/base/_text.scss';
@import '../../base/_typography.scss';
@import '../../layout/_banner.scss';
@import '../../layout/_blog_menu.scss';

header#banner {
    height: auto;
    flex-direction: column;
    margin-bottom: 2rem;

    h1 {
        margin: 2rem 0;
    }
    h2 {
        @extend .title;
    }

    @include bp.xl {
        margin-top: 3rem;
        margin-bottom: 6rem;

        h1 {
            margin: 4rem 0;
        }
    }
}
.banner__green-word {
    color: transparent;
}

section {
    display: grid;
    grid-template-columns: 1fr;

    @include bp.md {
        grid-template-columns: 1fr 20%;
        gap: utilities.space(4)
    }
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    article {
        header {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    
        h3 {
            color: utilities.color('success');
        }
    
        a {
            text-decoration: none
        }
        
        time {
            @include text.text(sm)
        }

        picture {
            width: 100%;
            height: 250px;
            display: flex;
            overflow: hidden;
        
            img {
                object-fit: cover; 
                height: auto;
                width:100%;
                transition: transform 250ms linear;
            }
        
            &:hover {
                img {
                    transform: scale(1.2)
                }
            }
        }
    }

    @include bp.lg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @include bp.lg {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}