@use "sass:map";
@use '../../abstracts/variables' as vars;
@use 'style-box/abstracts/mixins/margin' as margin_mixin;
@use 'style-box/abstracts/mixins/breakpoints';
@use '../../abstracts/_mixins/text';

@import '../../base/typography';
@import 'style-box/base/text';
@import 'style-box/base/_text.scss';
@import '../../base/_typography.scss';
@import '../../layout/_banner.scss';

header#banner {
    height: auto;
    flex-direction: column;
    padding-top: 40px;
    margin-bottom: 2rem;

    h1 {
        @extend .title;
        margin: 2rem 0;
        font-size: 1.5em;
    }
    h2 {
        @extend .title;
    }

    @include breakpoints.xl {
        padding-top: 0;
        margin-top: 3rem;
        margin-bottom: 6rem;

        h1 {
            font-size: 4rem;
            margin: 4rem 0;
        }
    }
}