{% extends "base.html" %}

{% block title %}Page introuvable{% endblock %}

{% block head %}
    <meta name="robots" content="noindex" />

    <link rel="stylesheet" href="/css/pages/404.css" />
{% endblock %}

{% block content %}
    <section>
        <h1>Page introuvable</h1>

        <a o-follow href="/" class="mt_4">
            <picture>
                <source srcset="/icons/leaf.webp" type="image/webp" />

                <img
                    src="/icons/leaf.png"
                    alt="GreenAssembly Leaf"
                    width="48"
                    height="30"
                />
            </picture>

            <span>Retournez à la page d'accueil</span>
        </a>
    </section>
{% endblock %}