<!DOCTYPE html>
<html lang="fr" style="overflow: hidden" {% block html %}{% endblock %}>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <title>{% block title %}{{ title }}{% endblock %} | GreenAssembly - Agence Digitale Verte</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/css/global.css" o-no-load />

    <script src="/js/global.js" o-no-load async></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div id="scroll_top">
        <svg class="icon icon--lg" height="32px">
            <use xlink:href="/icons/icons.svg#scroll_top"></use>
        </svg>
    </div>

    <div
        id="loading"
        style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; visibility: visible; background-color: #000F16; z-index: 9999; display: flex; justify-content: center; align-items: center"
    >
        <img
            src="/img/logo.svg"
            width="400"
            height="120"
            style="max-width: 80%"
            alt="GreenAssembly Logo"
            class="animation_bounce"
        />
    </div>

    <div class="relative container mx_auto px_4 sm_px_0">
        {% include "includes/navbar.html" %}
    
        <ga-frame name="main">
            <main>
                <header>{% block banner %}{% endblock %}</header>

                <section>
                    {% block content %}{% endblock %}

                    <nav>
                        <header>
                            <h3>Catégories</h3>
                        </header>

                        {% for category in categories %}
                            <a href="/blog/categories/{{ category.uri}}" o-follow>{{ category.name }}</a>
                        {% endfor %}
                    </nav>
                </section>
            </main>
        </ga-frame>
    </div>

    {% include "includes/footer.html" %}
</body>
</html>