{% extends "base.html" %}

{% block html %} itemscope itemtype="https://schema.org/FAQPage"{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {% match description %}
        {% when Some with (description) %}
            <meta name="description" content="{{ description }}" />
        {% when None %}
    {% endmatch %}

    <link rel="stylesheet" href="/css/pages/faq.css" />

    <script src="/js/faq.js" async></script>
    {#<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [
                {% for category in categories %}
                    {% for question in category.questions %}
                        {
                            "@type": "Question",
                            "name": "{{ question.question }}",
                            "acceptedAnswer": {
                                "@type": "Answer",
                                "text": "{{ question.answer|safe }}"
                            }
                        },
                    {% endfor %}
                {% endfor %}
            ]
        }
    </script>
    #}
{% endblock %}

{% block banner %}
    <header id="banner">
        <h1>FAQ</h1>
    </header>
{% endblock %}

{% block content %}
    <p>
        Vous avez des questions pour la réalisation de votre projet ? Nous avons synthétisé <span class="font_bold">pour vous</span> les réponses aux questions fréquemment posées par nos clients à notre <strong>agence digitale verte</strong> spécialisée en <strong>création de site internet</strong>, <strong>identité visuelle</strong> et <strong>motion design</strong> !<br /><br />
        En cas de questions complémentaires n'hésitez pas à nous le faire savoir en nous appelant au <a href="tel:+33650308591">06•50•30•85•91</a> ou en nous <a o-follow o-preload-once href="/contact">écrivant un message</a> !
    </p>

    {% for category in categories %}
        <section class="category">
            <header>
                <h3>{{ category.name }}</h3>
            </header>

            {% for question in category.questions %}
                <article itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <header role="button" aria-expanded="false">
                        <h4 itemprop="name">{{ question.question }}</h4>
                    </header>

                    <div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            {{ question.answer|safe }}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}