{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {% match description %}
        {% when Some with (description) %}
            <meta name="description" content="{{ description }}" />
        {% when None %}
    {% endmatch %}

    <link rel="stylesheet" href="/css/pages/index.css" />

    <script src="/js/carousel.js" async></script>
    <script src="/js/motion_home_player.js" async></script>
{% endblock %}

{% block banner %}
    <header id="home_banner">
        <div id="shape">
            <h1>Agence Digitale Verte</h1>

            <a o-follow href="/portfolio">
                <span>voir nos projets</span>

                <img src="/favicon.svg" width="48" height="30" alt="GreenAssembly Leaf" />
            </a>
        </div>

        {#
        <button id="scroll_down">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="#fff">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </button>
        #}
    </header>
{% endblock %}

{% block content %}
    <div class="space_y_12 md_space_y_24">
        <div class="grid grid_cols_1 md_grid_cols_2 gap_10 lg_gap_18 items_center">
            <p class="text_impactful text_impactful--lg">
                Agence digitale engagée dans la <span class="text_success">réduction de l’empreinte carbone et la reforestation</span>, GreenAssembly est une agence qui se veut flexible en <span class="text_white">vous accompagnant dans la concrétisation de votre projet</span> que vous vous trouviez à Annecy, à Château-Thierry ou partout ailleurs !<br /><br />
            </p>
            <p>
                Ensemble établissons une stratégie digitale performante qui vous permettra d’établir une présence en ligne avec la <strong><a href="/creation-site-web">création d’un site internet développé sur-mesure</a></strong> au design moderne et unique.<br />
                Vous possédez déjà un site internet et vous souhaitez effectuer une refonte ? <a o-follow o-preload-once href="/agence-digitale-verte">Notre agence digitale</a> peut vous apporter son expertise en développant un site web performant et respectueux de l’environnement.<br /><br />
                Logo, cartes de visite ou encore vidéo en motion design, nous pouvons apporter LA touche d’originalité dans votre communication !
            </p>
            <p class="text_impactful text_impactful--lg md_col_span_2 text_center mx_10 md_mx_30">
                Bien plus qu’une <strong>agence web</strong>, GreenAssembly est l’<strong class="text_success">agence digitale verte</strong> qui vous accompagne dans vos projets !
            </p>
        </div>

        <section id="engagements" class="md_my_12 mt_32">
            <div class="carousel">
                <div class="carousel__wrapper">
                    <div class="carousel__wrapper__item">
                        <div class="swiper-card">
                            <img
                                data-src="/icons/eco_conception.svg"
                                alt="Éco-conception"
                                class="lazy"
                                width="145"
                                height="145"
                            />
        
                            <h3>Éco-conception</h3>
        
                            <p>Développement et webdesign <strong>sur mesure</strong> pour un site internet <strong>réactif</strong> et <strong>durable</strong>. Ou quand technologie et environnement s’assemblent pour le meilleur chez GreenAssembly.</p>
                        </div>
                    </div>
    
                    <div class="carousel__wrapper__item">
                        <div class="swiper-card">
                            <img
                                data-src="/icons/qualite.svg"
                                alt="Qualité"
                                class="lazy"
                                width="145"
                                height="145"
                            />
                                
                            <h3>Qualité</h3>
        
                            <p>Parce que l’à peu près n’a pas sa place dans votre business, la <strong>qualité</strong>, la <strong>performance</strong> et la <strong>sécurité</strong> font partie de nos priorités absolues chez GreenAssembly.</p>
                        </div>
                    </div>
    
                    <div class="carousel__wrapper__item">
                        <div class="swiper-card">
                            <img
                                data-src="/icons/ethique.svg"
                                alt="Éthique"
                                class="lazy"
                                width="145"
                                height="145"
                            />
        
                            <h3>Éthique</h3>
        
                            <p>Ni trop ni pas assez. Chez GreenAssembly, vous achetez les <strong>fonctionnalités</strong> vraiment <strong>utiles à votre activité</strong>. L’assurance pour vous de payer le <strong>prix juste</strong>.</p>
                        </div>
                    </div>
                </div>

                <nav aria-label="Progress" class="carousel__pagination"></nav>
            </div>

            <div class="read_more">
                <a o-follow href="/agence-digitale-verte">
                    en savoir plus
    
                    <img src="/favicon.svg" width="30" height="30" alt="GreenAssembly Leaf" />
                </a>
            </div>
        </section>

        <section class="prestation">
            <h2>Création de site web</h2>

            <div class="content">
                <picture class="preview lazy order_2 md_order_1">
                    <source data-srcset="/img/website.webp" type="image/webp" />
                    
                    <img
                        data-src="/img/website.png"
                        alt="Site Web"
                        width="700"
                        height="666"
                    />
                </picture>

                <p class="description order_1 md_order_2">
                    <span class="text_impactful text_impactful--lg">
                        Prendre le temps de <strong class="text_white">sélectionner les meilleures fonctionnalités</strong> et chouchouter l’image ainsi que le message de votre <strong class="text_white">site internet</strong>, telle est notre vision de l’<strong class="text_success">éco conception</strong> web chez GreenAssembly.<br /><br />
                    </span>
                    Design, expérience utilisateur, développement web, référencement naturel SEO, hébergement… Prenez place sur le web avec un site éco-conçu <strong>100% sur mesure</strong> 100% performant 100% vous.

                    <span class="read_more">
                        <a href="/creation-site-web">
                            <span>en savoir plus</span>
            
                            <img src="/favicon.svg" width="30" height="30" alt="GreenAssembly Leaf" />
                        </a>
                    </span>
                </p>
            </div>
        </section>

        <section class="prestation">
            <h2>Identité Visuelle</h2>

            <div class="content">
                <p class="description">
                    <span class="text_impactful text_impactful--lg">
                        Marquez les esprits et pimentez votre image de marque avec une <strong class="text_success"><span class="text_white">identité visuelle</span> unique et singulière</strong>.<br /><br />
                    </span>
                    De votre <span class="font_bold">logo</span> à votre  <span class="font_bold">charte graphique</span>, en passant par vos <span class="font_bold">supports de communication</span> et <span class="font_bold">flyers</span>, trouvons ensemble ce petit plus qui fera qu’on se souviendra de vous !
                </p>

                <picture class="preview lazy">
                    <source data-srcset="/img/visual_identity.webp" type="image/webp" />
    
                    <img
                        data-src="/img/visual_identity.png"
                        alt="Identité Visuelle"
                        width="700"
                        height="666"
                    />
                </picture>            
            </div>
        </section>        
        
        <section class="prestation">
            <h2>Motion Design</h2>

            <div class="content">
                <div class="preview">
                    <video id="motion_home_video" preload="metadata" width="1920" height="1080" controlsList="nofullscreen">
                        <source src="/video/motion_home.mp4" type="video/mp4">
    
                        Your browser does not support the video tag.
                    </video>
                    <div id="motion_home_actions" class="video-actions">
                        <button id="motion_home_video_button" class="video-actions__button">
                            <svg class="motion_home_play_button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="50" height="50"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"/></svg>
                            <svg class="motion_home_pause_button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="50" height="50"><path fill="currentColor" d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z"/></svg>
                        </button>
                    </div>
                </div>
    
                <p class="description">
                    <span class="text_impactful text_impactful--lg">
                        Cultivez et nourrissez votre comm’ avec des <strong class="text_white">vidéos motion design</strong>, <strong class="text_success">créatives et originales</strong> qui font toute la différence.<br /><br />
                    </span>
                    Démarquez-vous avec un logo animé, des vidéos dynamiques à l’image de votre marque et un rythme captivant qui font <strong>passer votre message en 2 minutes</strong>. Les internautes n’auront d’yeux que pour vous !
                </p>
            </div>
        </section>

        <div class="read_more mb_16">
            <a o-follow href="/contact">
                nous contacter

                <img src="/favicon.svg" width="30" height="30" alt="GreenAssembly Leaf" />
            </a>
        </div>
    </div>
{% endblock %}