{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block meta %}
    <meta name="description" content="Agence Digitale Verte | Développement sur mesure de site-web éco-conçu | Création d'Identité Visuelle | Motion Design" />

    <link rel="stylesheet" href="/pages/swiper.css" />
    <link rel="stylesheet" href="/pages/index.css" />

    <script src="/swiper.js" async></script>
{% endblock %}

{% block banner %}
    <header id="home_banner">
        <div id="shape">
            <h1>Agence Digitale Verte</h1>

            <a o-follow href="/portfolio">
                <span>voir nos projets</span>

                <picture>
                    <source srcset="/static/img/leaf_icon.webp" />

                    <img
                        src="/static/img/leaf_icon.png"
                        alt="GreenAssembly Leaf"
                        width="48"
                        height="30"
                    />
                </picture>
            </a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="space_y_32 sm_space_y_48 lg_space_y_60">
        <section id="engagements">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <img
                                data-src="/static/img/eco_conception.svg"
                                alt="Éco-conception"
                                class="lazy"
                                width="202"
                                height="221"
                            />
        
                            <h3>Éco-conception</h3>
        
                            <p>Développement et webdesign <b>sur mesure</b> pour un site-web <b>réactif</b> et <b>durable</b>. Ou quand technologie et environnement s’assemblent pour le meilleur chez GreenAssembly.</p>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <img
                                data-src="/static/img/qualite.svg"
                                alt="Qualité"
                                class="lazy"
                                width="291"
                                height="218"
                            />
                                
                            <h3>Qualité</h3>
        
                            <p>Parce que l’à peu près n’a pas sa place dans votre business, la <b>qualité</b>, la <b>performance</b> et la <b>sécurité</b> font partie de nos priorités absolues chez GreenAssembly.</p>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <img
                                data-src="/static/img/ethique.svg"
                                alt="Éthique"
                                class="lazy"
                                width="192"
                                height="181"
                            />
        
                            <h3>Éthique</h3>
        
                            <p>Ni trop ni pas assez. Chez GreenAssembly, vous achetez les <b>fonctionnalités</b> vraiment <b>utiles à votre activité</b>. L’assurance pour vous de payer le <b>prix juste</b>.</p>
                        </div>
                    </div>
                </div>
    
                <div class="swiper-pagination"></div>
            </div>

            <div class="read_more">
                <a href="/agence">
                    <span class="underline">en savoir plus</span>
    
                    <picture>
                        <source srcset="/static/img/leaf_icon.webp" />
    
                        <img
                            src="/static/img/leaf_icon.png"
                            alt="GreenAssembly Leaf"
                            width="48"
                            height="30"
                        />
                    </picture>
                </a>
            </div>
        </section>

        <section class="prestation">
            <h2 class="right_0 text_right sm_text_left md_-top_21 lg_-top_43 xl_-top_5">Identité Visuelle</h2>

            <picture class="preview lazy">
                <source data-srcset="/static/img/identite_visuelle.webp" />

                <!-- TODO : mettre largeur en 512 -->
                <img
                    data-src="/static/img/identite_visuelle.png"
                    alt="Identité Visuelle"
                    width="700"
                    height="666"
                />
            </picture>

            <div class="description">
                <p>
                    Marquez les esprits et pimentez votre image de marque avec une <b>identité visuelle unique et singulière</b>.<br /><br />
                    De votre <span class="font_bold">logo</span> à votre  <span class="font_bold">charte graphique</span>, en passant par vos <span class="font_bold">supports de communication</span> et <span class="font_bold">flyers</span>, trouvons ensemble ce petit plus qui fera qu’on se souviendra de vous !
                </p>
            </div>
        </section>

        <section class="prestation">
            <h2 class="-top_12 md_-top_40 lg_-top_60 xl_-top_48 xxl_-top_16 left_0">Création de site-web</h2>

            <div class="description order_2 md_order_1">
                <p>
                    Prendre le temps de <b>sélectionner les meilleures fonctionnalités</b> et chouchouter l’image ainsi que le message de votre site-web, telle est notre vision de l’<b>éco conception</b> web chez GreenAssembly.<br /><br />
                    Design, expérience utilisateur, développement web, référencement naturel SEO, hébergement… Prenez place sur le web avec un site éco-conçu <b>100% sur mesure</b> 100% performant 100% vous.

                    <div class="read_more">
                        <a href="/creation-site-web">
                            <span class="underline">en savoir plus</span>
            
                            <picture>
                                <source srcset="/static/img/leaf_icon.webp" />
            
                                <img
                                    src="/static/img/leaf_icon.png"
                                    alt="GreenAssembly Leaf"
                                    width="48"
                                    height="30"
                                />
                            </picture>
                        </a>
                    </div>
                </p>
            </div>

            <picture class="preview lazy order_1 md_order_2">
                <source data-srcset="/static/img/site_web.webp" />

                <img
                    data-src="/static/img/site_web.png"
                    alt="Site-Web"
                    width="700"
                    height="666"
                />
            </picture>
        </section>
        
        <section class="prestation">
            <h2 class="right_0 text_right sm_text_left z_10 -top_12 md_-top_21 lg_-top_30">Motion Design</h2>

            <div class="preview">
                <video preload="none" controls controlsList="nofullscreen">
                    <source src="/static/video/motion_home.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="description">
                <p>
                    Cultivez et nourrissez votre comm’ avec des vidéos <b>motion design</b>, <b>créatives et originales</b> qui font toute la différence.<br /><br />
                    Démarquez-vous avec un logo animé, des vidéos dynamiques à l’image de votre marque et un rythme captivant qui font <b>passer votre message en 2 minutes</b>. Les internautes n’auront d’yeux que pour vous !
                </p>
            </div>
        </section>
    </div>
{% endblock %}