{% extends "base.html" %}

{% block title %}Création de site-web{% endblock %}

{% block meta %}
    <meta name="description" content="Démarquez-vous avec un site sur-mesure à votre image. Refonte ou création de site vitrine et e-commerce, faites le choix de la performance et de la singularité." />

    <link rel="stylesheet" href="/pages/swiper.css" />
    <link rel="stylesheet" href="/components/stepper.css" />
    <link rel="stylesheet" href="/pages/website_creation.css" />

    <script src="/website_creation.js" async></script>
{% endblock %}

{% block content %}
    <section class="space_y_30">
        <div>
            <h1>Création de Site-Web</h1>
    
            <div class="grid grid_cols_1 md_grid_cols_2 gap_18 items_center">
                <div>
                    <p>
                        Boostez votre visibilité et marquez les esprits avec un site-web unique et original. Parce que vous êtes différent, nous concevons votre site autrement que ceux déjà présents sur la toile et de ce que vos concurrents proposent.<br /><br />
                        Chez GreenAssembly, agence web Annecy, nous faisons de chaque nouveau projet web un vrai challenge. Celui de faire passer votre message au travers d’un site-web moderne au design unique et singulier, dans le respect de votre image de marque.<br /><br />
        
                        <span class="font_bold">Ensemble</span>, cassons les codes.<br />
                        <span class="font_bold">Réalisons de belles performances</span> dans la limite du raisonnable.<br /><br />
    
                        Tant d’un point de vue
                        <ul>
                            <li>👉 <span class="font_bold">économique</span> (pour VOUS)</li>
                            <li class="font_bold">👉 qu’<span class="text_success">écologique</span> (pour NOUS TOUS)</li>
                        </ul>
                    </p>
                </div>
    
                <p class="text_xl sm_text_2xl font_bold text_gray uppercase test">
                    <span class="text_success text_2xl sm_text_3xl">Un site-web vert</span> et <span class="text_white text_2xl sm_text_3xl">performant</span>, aux <span class="text_white text_2xl sm_text_3xl">fonctionnalités</span> qui vous sont <span class="text_white text_2xl sm_text_3xl">réellement utiles</span> pour limiter au maximum son impact sur <span class="text_success text_2xl sm_text_3xl">l’environnement</span>.
                </p>
            </div>
        </div>

        <div id="what_we_do">
            <h2>Ce que notre Agence Web fait pour <span class="text_white">vous</span></h2>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <h3>sur-mesure 📐 <span class="block">&</span> sécurité 🔒</h3>
            
                            <p>De la création à la refonte de site internet, nos équipes mettent leur expertise technique et leur créativité débordante dans la conception de votre <span class="text_success font_bold">site écologique, sur-mesure et sécurisé</span>.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <h3>✨ Singularité</h3>
            
                            <p>Développement web, arborescence, co-design, hébergement… Tout est pensé pour que votre site-web propose une expérience <span class="text_success font_bold">différenciante aux internautes</span>.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <h3>🌱 Éco-conception</h3>
            
                            <p>Un site-web <span class="text_success font_bold">éco-conçu peu gourmand en énergie</span> et en ressource grâce à des <span class="text_success font_bold">fonctionnalités</span> développées <span class="text_success font_bold">sur-mesure</span> pour répondre à vos <span class="text_success font_bold">besoins spécifiques</span>.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <h3>LIVRAISON 🚛 CLÉ EN MAIN 🔑✋</h3>
            
                            <p>À la livraison, vous êtes <span class="text_success font_bold">formé à l’utilisation des différents outils</span> pour être <span class="text_success font_bold">autonome</span> dans la gestion et le suivi de votre site-web écologique.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <h3>SUIVI 🔍 <span class="block">&</span> MAINTENANCE 🛠</h3>
            
                            <p>Nous assurons le suivi et la maintenance de votre site éco-conçu. Développement de <span class="text_success font_bold">nouvelles fonctionnalités, mise à jour sécurité, nos équipes restent à vos côtés</span>.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div id="formules">
            <h2>Un besoin <span class="text_white">=</span> un site-web</h2>
    
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="infos">
                            <h3>Site OnePage</h3>
        
                            <p>Vous souhaitez présenter vos produits et services de façon dynamique à vos clients et prospects. Telle une carte de visite digitale, nous créons votre site-web one page à l’image de votre marque.</p>
        
                            <div class="read_more">
                                <a o-follow href="/creation">
                                    <span>en savoir plus</span>
                    
                                    <picture>
                                        <source srcset="/static/img/leaf_icon.webp" />
                    
                                        <img
                                            src="/static/img/leaf_icon.png"
                                            alt="GreenAssembly Leaf"
                                            width="48"
                                            height="30"
                                        />
                                    </picture>
                                </a>
                            </div>
                        </div>

                        <div class="preview"></div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="infos">
                            <h3>Site Vitrine</h3>
        
                            <p>Vous souhaitez valoriser votre savoir-faire et développer votre notoriété au niveau local ou à plus grande échelle. Nous développons votre site vitrine sur-mesure en fonction de vos besoins et des attentes de vos prospects et clients.</p>
        
                            <div class="read_more">
                                <a o-follow href="/creation">
                                    <span>en savoir plus</span>
                    
                                    <picture>
                                        <source srcset="/static/img/leaf_icon.webp" />
                    
                                        <img
                                            src="/static/img/leaf_icon.png"
                                            alt="GreenAssembly Leaf"
                                            width="48"
                                            height="30"
                                        />
                                    </picture>
                                </a>
                            </div>
                        </div>

                        <div class="preview"></div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="infos">
                            <h3>Site E-Commerce</h3>
        
                            <p>Vous souhaitez vendre vos produits en ligne et élargir votre clientèle à l’échelle nationale ou internationale. Nous concevons votre site e-commerce avec les fonctionnalités indispensables à votre activité.</p>
        
                            <div class="read_more">
                                <a o-follow href="/creation">
                                    <span>en savoir plus</span>
                    
                                    <picture>
                                        <source srcset="/static/img/leaf_icon.webp" />
                    
                                        <img
                                            src="/static/img/leaf_icon.png"
                                            alt="GreenAssembly Leaf"
                                            width="48"
                                            height="30"
                                        />
                                    </picture>
                                </a>
                            </div>
                        </div>

                        <div class="preview"></div>
                    </div>
                </div>
    
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div>
            <h2>Les étapes de la création de votre site-web éco-conçu</h2>

            <div class="stepper">
                <nav aria-label="Étapes" class="stepper__nav">
                    <div class="label">
                        <div class="index">Étape 1</div>
                        <div class="descr">Étude de votre besoin</div>
                    </div>

                    <a href="#" class="stepper__nav__item stepper__nav__item--editable">
                        <div>
                            <div class="index">Étape 1</div>
                            <div class="descr">Étude de votre besoin</div>
                        </div>
                    </a>
                    <a href="#" class="stepper__nav__item stepper__nav__item--editable">
                        <div>
                            <div class="index">Étape 2</div>
                            <div class="descr">Création graphique <span class="block">&</span> Développement</div>
                        </div>
                    </a>
                    <a href="#" class="stepper__nav__item stepper__nav__item--editable">
                        <div>
                            <div class="index">Étape 3</div>
                            <div class="descr">Choix serveur <span class="block">&</span> Optimisation SEO</div>
                        </div>
                    </a>
                    <a href="#" class="stepper__nav__item stepper__nav__item--editable">
                        <div>
                            <div class="index">Étape 4</div>
                            <div class="descr">Formation <span class="block">&</span> Suivi qualité</div>
                        </div>
                    </a>
                </nav>

                <div class="stepper__wrapper">
                    <div class="stepper__wrapper__step">
                        <div class="grid md_grid_cols_2">
                            <span class="text_3xl uppercase text_gradient font_bold hidden sm_block">Étape 1</span>
                            <p>Nous écoutons dans un premier temps vos besoins et vos attentes. Puis nous définissons ensemble les meilleures solutions qui vous aideront à atteindre vos objectifs avant d’élaborer un cahier des charges permettant de définir les caractéristiques du projet.</p>
                        </div>
                    </div>
                    <div class="stepper__wrapper__step grid md_grid_cols_2">
                        <span class="text_3xl uppercase text_gradient font_bold hidden sm_block">Étape 2</span>
                        <p>
                            Une fois le cahier des charges validé, nous concevons l’UX (ou wireframe) qui permet de valider le parcours utilisateur sur le site avant de passer au maquettage, c’est-à-dire au design final, l’UI.<br /><br />
                            Nous développons ensuite les fonctionnalités des différentes pages web. Nous créons des contenus textuels et visuels personnalisés (photos, vidéos, motion design) dans le respect de votre ligne éditoriale et de votre charte graphique.<br /><br />
                            Pendant la phase de développement, nos équipes procèdent à l’élaboration de tests unitaires afin de vérifier le bon comportement des différents algorithmes et fonctionnalités et permettre une meilleure maintenabilité du site-web (pérennisation du code source).
                        </p>
                    </div>
                    <div class="stepper__wrapper__step grid md_grid_cols_2">
                        <span class="text_3xl uppercase text_gradient font_bold hidden sm_block">Étape 3</span>
                        <p>
                            Dans le cadre de notre démarche d’éco-conception web, nous choisissons un serveur adapté aux besoins réels de votre site-web. Un moyen pour vous de payer le prix juste tout en limitant l’impact écologique de votre site-web.<br /><br />
                            Les textes et les visuels intégrés, nous procédons à l’optimisation du référencement naturel SEO afin de vous assurer une bonne visibilité sur les moteurs de recherche.
                        </p>
                    </div>
                    <div class="stepper__wrapper__step grid md_grid_cols_2">
                        <span class="text_3xl uppercase text_gradient font_bold hidden sm_block">Étape 4</span>
                        <p>
                            Après la mise en ligne de votre site-web, nous vous montrons comment le gérer en toute autonomie (ajout de fiches produits, modification de contenus, création d’articles de blog). Un document reprenant toutes les fonctionnalités vous est également remis en guise de support.<br /><br />
                            Si vous le souhaitez, nous assurons par la suite le suivi et la maintenance de votre site internet (performances SEO, analyse du parcours utilisateur, mises à jour du serveur).
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2>L'éco-conception web en pratique</h2>
    
            <div class="grid grid_cols_1 md_grid_cols_2 gap_18 items_center">
                <div>
                    <p class="text_xl sm_text_2xl font_bold text_gray uppercase test">
                        Il est désormais connu et reconnu que la <span class="text_success text_2xl sm_text_3xl">consommation numérique</span> a un fort impact sur <span class="text_white text_2xl sm_text_3xl">l’environnement</span>. C’est pourquoi, chez <span class="text_success text_2xl sm_text_3xl">GreenAssembly</span>, nous privilégions la <span class="text_white text_2xl sm_text_3xl">création de sites web écologiques moins gourmands en ressources énergétiques</span> qu’un site-web conçu de manière traditionnelle.
                    </p>
                </div>
    
                <div>
                    <div class="text_3xl font_bold text_gradient pb_6">Comment ?</div>
                    <p class="text_lg sm_text_2xl font_bold sm_pb_6">En respectant les règles de l’éco-conception web, à savoir :</p>
    
                    <ul class="py_6 sm_py_8">
                        <li>Le choix d’un serveur approprié aux réels besoins de votre site-web, et donc le moins énergivore possible.</li>
                        <li>Un développement sur-mesure utilisant une technologie puissante et parfaitement prédisposée à l’éco-conception limitant l’utilisation serveur, participant ainsi à la modération du rejet de gaz à effet de serre.</li>
                        <li>Un design responsive volontairement épuré, parfaitement adapté à tous les supports digitaux (smartphone, ordinateur, tablette).</li>
                        <li>Des fonctionnalités qui vous sont vraiment nécessaires , réduisant de ce fait l’impact écologique du site.</li>
                        <li>Des contenus légers avec des images compressées et au bon format pour un temps de chargement des pages optimisé.</li>
                        <li>Des requêtes limitées à l’essentiel et éliminant le superflu, optimisant l’expérience utilisateur et les performances de votre site-web (ce que Google apprécie).</li>
                    </ul>
    
                    <p>
                        Chacune de ces actions contribue à réduire l’empreinte écologique du web tout en vous permettant d’améliorer votre e-réputation tout comme votre référencement naturel. N’hésitez pas à nous contacter pour en savoir plus.
                    </p>
                </div>
            </div>

            <div class="read_more justify_center pt_8">
                <a o-follow href="/contact">
                    <span>nous contacter</span>
    
                    <picture>
                        <source srcset="/static/img/leaf_icon.webp" />
    
                        <img
                            src="/static/img/leaf_icon.png"
                            alt="GreenAssembly Leaf"
                            width="48"
                            height="30"
                        />
                    </picture>
                </a>
            </div>
        </div>
    </section>
{% endblock %}