<article>
    <a
        href="/blog/articles/{{ uri }}"
        o-follow
        o-preload-once
    >
        <header>
            <picture class="lazy">
                <source data-srcset="/uploads/{{ cover_filename }}.webp" type="image/webp" />

                <img
                    data-src="/uploads/{{ cover_path }}"
                    alt="{{ name }} cover"
                />
            </picture>
    
            <h3>{{ name }}</h3>
    
            <time datetime="{{ international_date }}">{{ date }}</time>
        </header>
    </a>
</article>