<picture class="lazy">
    <source data-srcset="/uploads/{{ picture }}.webp" type="image/webp" />

    <img
        data-src="/uploads/{{ picture }}.png"
        alt="{{ fullname }}"
        width="250"
        height="250"
        itemprop="image"
    />
</picture>

<figure>
    <div class="about">
        <figcaption itemprop="name">{{ fullname }}</figcaption>

        <span itemprop="jobTitle">{{ job }}</span>
    </div>

    {% match description %}
        {% when Some with (description) %}
            <blockquote>
                <p>{{ description }}</p>
            </blockquote>
        {% when None %}
    {% endmatch %}
</figure>