{% extends "back_office.html" %}

{% block title %}Tableau de bord{% endblock %}

{% block head %}
    <script src="/js/admin/dashboard.js" async></script>
    <link rel="stylesheet" href="/css/pages/admin/dashboard.css" />
{% endblock %}

{% block content %}
    <div class=""></div>

    <div class="overflow_x_auto">
        <table>
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Évolution</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td>
                            <canvas data-id="{{ page.id }}"></canvas>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <canvas id="myChart"></canvas>

    <div class="card">
        <canvas id="browsers"></canvas>

    </div>
    <div class="card">
        <canvas id="os"></canvas>

    </div>
    <div class="card">
        <canvas id="devices"></canvas>

    </div>
{% endblock %}