{% extends "back_office.html" %}

{% block title %}Tableau de bord{% endblock %}

{% block head %}
    <script src="/js/admin/dashboard.js" async></script>
    <link rel="stylesheet" href="/css/pages/admin/dashboard.css" />
{% endblock %}

{% block content %}
    <section id="content" class="px_4">
        <table>
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Évolution</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td>
                            <canvas data-id="{{ page.id }}"></canvas>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <canvas id="myChart" width="400" height="400"></canvas>

        <div class="card">
            <canvas id="browsers" width="400" height="400"></canvas>

        </div>
        <div class="card">
            <canvas id="os" width="400" height="400"></canvas>

        </div>
        <div class="card">
            <canvas id="devices" width="400" height="400"></canvas>

        </div>
    </section>
{% endblock %}